# 请申请并填入你自己的 Key
ZHIPU_API_KEY=your_api_key_here

# API 请求基础路径（可选，如果不填代码默认使用智谱官方接口：https://open.bigmodel.cn/api/paas/v4）
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4

# 服务运行端口（可选，默认为 3001）
PORT=3001